<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17176124072-ia2e1bkimnm5e157s5ttt5271htiqqiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17176124072-ia2e1bkimnm5e157s5ttt5271htiqqiv</string>
	<key>API_KEY</key>
	<string>AIzaSyBsRP9nvRlckTi-bYE2wu5s3-EHeJq5CiA</string>
	<key>GCM_SENDER_ID</key>
	<string>17176124072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.haany.cybersecNews</string>
	<key>PROJECT_ID</key>
	<string>cybersec-news-89869</string>
	<key>STORAGE_BUCKET</key>
	<string>cybersec-news-89869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17176124072:ios:9923fd44d057de3220009d</string>
</dict>
</plist>